[alias]
	st = status
	co = checkout
	c = commit
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date-order
        dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(green)"%cn" <%ce>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[user]
	name = {your user name}
	email = {your email address}
[color]
	ui = auto
	diff = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	pager = less -FMRiX
[color "diff"]
	meta = yellow bold
        frag = white bold
        old = red bold
        new = green bold
[color "status"]
       added = green
       changed = yellow
       untracked = cyan
[url "git://git.gnome.org/"]
        insteadOf = "gnome:"
[url "ssh://git.gnome.org/git/"]
        insteadOf = "gnome-ssh:"
